html{
    height: 100%;
}

body{
    height: 100%;
    overflow: scroll;
    min-width: 1170px;
}

iframe{
    height: 100%;
}

.container-fluid{
    padding: 67px 0px 0px 0px;
    height: 100%;
}

.center{
    text-align: center;
}

.and-gate{
    font-size: 0;
    vertical-align: top;
    margin-bottom: 30px;
}

.center-v{
    vertical-align: middle;
}

.font-small{
    font-size: 20px;
}

.v-align-top{
    vertical-align: top;
}
.h-100{
    height: 100%;
}

.m-3{
    margin-right: 3px;
}

.m-5{
    margin-right: 5px;
}
.input{
    margin-top: 40px;
    vertical-align: top;
    width: 20%;
    text-align: center;
}

.half-adder-circuit{
    width: 40%;
    margin: 30px 0px;
    position: relative;
    vertical-align: top;
    font-size: 16px;
}
.or-gate{
}

.or-gate-img{
    margin-bottom: 65px;
    /*position: absolute;*/
    /*bottom: 20px;*/
    z-index: 2;
}
.and-gate-1{
    margin-bottom: 30px;
}

.wire, .wire:hover, .wire:active, .wire:focus{
    padding: 0;
    border: none;
    outline: none;
}


.default{
    background-color: black;
}

.stuck-at-zero{
    background-color: lightgray;
}

.stuck-at-one{
    background-color: #03A9F4;
}

.wire-h{
    height: 3px;
    width: 47px;
    vertical-align: middle;
}

.w-40{
    width: 42px;
}

.wire-label-left{

    margin-left: 1px;
}

.wire-v{
    width: 3px;
    height: 20px;
    /*margin-top: 11px;*/
}
.top-wire{
    margin: 0px;
}

.gate-img{
    height: 70px;
}

.gate-img-div{
    vertical-align: top;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
}

.center-vh {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zero-margin-rl{
    margin: 0px;
}

.input-wires{
    width: 60px;
    vertical-align: top;
    font-size: 20px;
}

.output-wire-center{
    margin-top: 32px;
}

.sum-wire-center{
    margin-top: 0px;
}

.wire-v-up{
    margin-bottom: 50%;
    height: 35px;
}

.wire-v-down{
    margin-top: 32px;
    height: 35px;
}

.output-v{
    /*vertical-align: middle;*/
    margin-top: 11px;
}
.output-wires{
    vertical-align: top;
    /*display: flex;*/
    /*align-items: center;*/
}

.height{
    height: 70px;
}

.extension-wire-down{
    margin-top: 65px;
}

.extension-wire{
    width: 105px;
}

.extension-wire-down{
    margin-bottom: 65px;

}

.sum-label{
    font-size: 15px;
    display: block;
    margin-top: 0.1em;

    /*margin-bottom: 0px;*/
}

.carry-label{
    font-size: 15px;
    display: block;
    margin-top: 0.1em;
    text-align: right;
    margin-right: 15px;

    /*margin-bottom: 0px;*/
}
.or-output-wire{
    margin-bottom: 63px;
    width: 65px !important;
}


.sum-bulb{
    margin-bottom: 91px;
    height: 35px !important;
}

.font-zero{
    font-size: 0;
}

.carry-output-wire{
    width: 278px;
    margin-top: 0;;
}

.truth-table-div{
    font-size: 12px;
    text-align: center;
}

.truth-table{
    overflow: auto;
    height: 18em;
    border: 1px solid #cdb2b2;
}

.table-heading{
    padding: 0.4em;
    vertical-align: middle;
    font-size: 1.4em;
}

.add-button{
    margin-right: 0.7em;
    padding: 0.4em;
}

.reset-button{
    margin-right: 0.7em;
    padding: 0.4em;
}

.add-reset-button-div{
    margin: 0.7em 0;
    text-align: left !important;
}
.generate-button{
    padding: 0.4em;
}

th{
    /*border: 1px solid grey;*/
    padding: 0.4em !important;
    font-weight: bold;
    border: 1px solid lightgray;
    padding: 0.4em 0.7em !important;
}

td{
    border: 1px solid lightgray;
    padding: 0.2em 0.3em    ;
}


tbody{
    background-color: white;
}

.on-off{
    width: 30px;
}

.bulb-img{
    height: 35px ;
}

.absolute{
    position: absolute;
    top: 50px;
    left: 280px;
}

.input-title{
    margin-bottom: 20px;
}

.simulator{
    padding: 20px;
    margin:auto;
}

.instructions{
    width: 100%;
    padding: 20px;
}

.procedure{
    margin-left: 15%;
}

.procedure-button{
    height: 30px;
    margin: 0px 5px;
}

.step{
    margin: 10px 5px;
}

.wire-demo{
    width: 300px;
}

aside{
    float: right;
}

.wire-color-aside{
    background-color: #FFEBEE;
    margin: 50px;
    padding: 20px;
}

.sidebar-display{
    width: 100%;
    height: 100%;
}